.row {
    height: 265px;
    padding: 10px;
    margin: 10px;
}
#bookShowRow {
    background-color: #20d875;
}    
h5 {
    padding-top:5px;
}
.contactInfo{
    display:none;
}



.instructions {
    background-color:#1cce75;
}
.contactInfo {
    background-color:gainsboro;
}
#img1 {
    width:415px;
    height:245.3px;
}