.row {
    height: 265px;
    padding: 10px;
    margin: 10px;
}

h5 {
    padding-top:5px;
}
.contactInfo{
    display:none;
}
.review{
    display:none;
}

.instructions {
    color:gainsboro;
    background-color:#3f4f51;
    font-size: 125%;
}
.contactInfo {
    background-color:gainsboro;
}
#img1 {
    width:415px;
    height:245.3px;
}
#color0 {
    background-color:#F0DD65;
}
#color1 {
    background-color:#F32222;
}
#color2 {
    background-color:#6ACA6C;
}